{% extends "main.twig" %}

{% block content %}
    <div class="blog-content">
        <div class="container">

            <div class="heading-banner">
                <div class="text-col font-roboto"><h2>{{ options.blog_title }}</h2></div>
                
                <img src="{{ options.banner_image.url }}" alt="">
            </div>
            
            {% if posts|length > 0 %}
            <div class="posts grid">
                {% for post in posts %}
                    <div class="news-col">
                        <div class="img-col">
                            <img class="news-image" src="{{post.thumbnail.src}}" alt="{{ post.title }}" >
                        </div>
                        <div class="news-content">
                            
                            <div class="news-logo"><img src="{{ theme.link ~ "/assets/images/news_icon.svg"}}" alt="{{ module.news_icon.alt }}"></div>
                            <p class="post-title">{{ post.title }}</p>
                            <div class="post-preview font-ubuntu"> {{ post.content|slice(0, 151) }}... </div>
                            <a href="{{post.link}}" class="post-link font-roboto">
                                <p> {{ options.post_know_more_text }}</p>
                                <img src="{{ theme.link ~ "/assets/images/arrow.svg"}}" alt="{{ module.arrow_icon.alt }}">
                            </a>
                        </div>
                    </div>
                {% endfor %} 
            
            </div>
            {% else %}
            <div>Nothing found</div>
            {% endif %}
        </div>
        
    </div> 
{% endblock %}