<section class="logistics" id="logistics">
    <div class="container grid">
        <div class="section-heading">
            <img src="{{ module.section_icon.url }}" alt="{{ module.section_icon.alt }}">
            <h3>{{ module.section_heading_text }}</h3>
        </div>
        
        
        <div class="logistics-info font-ubuntu">
            {{ module.logistics_info }}
        </div>

        <div class="img-col">
            <img src="{{ module.image.url }}" alt="{{ module.image.alt }}">
        </div>
    </div>
</section>