<section  id="news" class="news">
    <div class="container">
        <div class="main-content">
            <div class="section-heading">
                <img src="{{ module.section_icon.url }}" alt="{{ module.section_icon.alt }}">
                <h3>{{ module.section_heading_text }}</h3>
            </div>
            <div class="news-container grid">
                {% for post_item in module.news_posts %}
                    <div class="news-col">
                        <div class="img-col">
                            <img class="news-image" src="{{post_item.thumbnail.src}}" alt="{{ post_item.title }}" >
                        </div>
                        <div class="news-content">
                            <div class="news-logo"><img src="{{ module.news_icon.url }}" alt="{{ module.news_icon.alt }}"></div>
                            <div class="post-preview font-ubuntu"> {{ post_item.content|slice(0, 150) }}... </div>
                            <a href="{{post_item.link}}" class="post-link font-roboto">
                                <p>{{ module.know_more_text }}</p>
                                <img src="{{ module.arrow_icon.url }}" alt="{{ module.arrow_icon.alt }}">
                            </a>
                        </div>
                    </div>
                {% endfor %} 
            </div>
            <a href="{{ module.blog_link.url }}" class="btn-archive-page"><p>{{ module.blog_link.title }}</p></a>
        </div>
        
        <div class="back-image"><img src="{{ module.image.url }}" alt="{{ module.image.alt }}"></div>
       
    </div>
</section>

